* {
    margin: 0;
    padding: 0;
}
  .cont_wrap {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    /* background: center / cover no-repeat url(img/ex03.png) teal; */
    background: teal;
    overflow-y: hidden;
  }  
  img {
    width: 100%;
    /* height: 100%; */
    
}
